<section id="about">
  <div class="about-wrapper">
    <div class="hero-image-wrapper">
      <img src="assets/img/hero.png" alt="" class="hero-image">
    </div>
    <div class="card">
      <div class="about-text-wrapper">
        <h6 class="subheading">About Me</h6>
        <h1 class="headline">Hey, I am <br> Kevin👋</h1>
        <p class="about-text">Hey, <br> am Kevin, a 16-year-old student from Germany. <br> In my free time I am a
          passionate
          Web & iOS Developer with noteworthy design skills. I am continously trying to improve my skills and always
          learning new technologies..</p>
      </div>
    </div>
  </div>
</section>
