<section id="contact">
  <h6 class="subheading">Get in touch</h6>
  <h2 class="section-title">Contact</h2>

  <div class="contact-wrapper">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/kevinho%C3%A0ng/" target="_blank" class="circle-link linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/kevinhng" target="_blank" class="circle-link github">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://twitter.com/kevinhng_" target="_blank" class="circle-link twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://dribbble.com/" target="_blank" class="circle-link dribbble">
        <i class="fa-brands fa-dribbble"></i>
      </a>
    </div>

    <div class="form-wrapper">
      <form action="https://getform.io/f/8ee8080c-4435-4d6e-9666-da90935983da" method="POST">
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
</section>
