<section id="skills">
  <h6 class="subheading">What I can do</h6>
  <h2 class="section-title">Skills</h2>
  <div class="skills-wrapper">

    <div class="card">
      <div class="card-content">
        <div class="card-icon card-icon-mobile">
          <i class="fa-solid fa-mobile-button"></i>
        </div>
        <h4 class="card-title">iOS Development</h4>
        <p class="card-text">I make Apps for iPhone and iPad. I work with frameworks like SwiftUI and Cocoa Touch.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-icon card-icon-web">
          <i class="fa-solid fa-desktop"></i>
        </div>
        <h4 class="card-title">Web Development</h4>
        <p class="card-text">I create responsive websites using modern technologies and frameworks.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-icon card-icon-design">
          <i class="fa-solid fa-layer-group"></i>
        </div>
        <h4 class="card-title">UI Design</h4>
        <p class="card-text">I value minimalistic and beautiful design of my apps and websites.</p>
      </div>
    </div>

  </div>
</section>
